{:paths   ["src"]
 :deps    {wkok/openai-clojure    {:git/url "https://github.com/wkok/openai-clojure"
                                   :git/sha "b67e0be3789efdf0623942e16433f832f145d949"}
           sg.flybot/lasagna-pull {:mvn/version "0.4.150"}}
 :aliases {:neil {:project {:name meerkat/meerkat}}
           :dev  ;;on development
           {:extra-deps {io.github.robertluo/rich-comment-tests {:git/url "https://github.com/robertluo/rich-comment-tests"
                                                                 :git/tag "v1.1.0"
                                                                 :git/sha "6d01d12"}}}
           :test ;;has to be used with :dev
           {:exec-fn com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
            :exec-args {:dirs #{"src"}}}
           :readme ;;generate readme
           {:extra-deps {robertluo/clerk-doc {:git/url "https://github.com/robertluo/clerk-doc"
                                              :git/sha "d2b37f0127c9d7f55bd51661137bfb8129012202"}}
            :exec-fn robertluo.clerk-doc/clj->md
            :exec-args {:from "src/readme.clj" :to "README.md" :ai-improve? true}}}}
